---
import BaseLayout from "../layouts/BaseLayout.astro";
import github from "/assets/github.svg";
import linkedin from "/assets/linkedin.svg";
import mail from "/assets/mail.svg";
import HeadingMarked from "../components/HeadingMarked.astro";
import BlogCard from "../components/BlogCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<BaseLayout title="Welcome to jonasboone.be">
    <div class="flex flex-col m-8 p-2">
        <div>
            <h1
                class="font-secondary text-white-primary font-bold text-xl mb-2"
            >
                Hi, my name is Jonas.
            </h1>
            <h1
                class="font-secondary text-green-primary font-bold text-3xl mb-2"
            >
                I build things for the web.
            </h1>
            <h1 class="font-secondary text-white-primary text-sm">
                I’m a passionate web developer. I love writing and building cool
                stuff.
            </h1>
        </div>
        <div class="flex justify-center mt-8 mb-10">
            <a href="https://github.com/JonasBne"
                ><img class="px-2" src={github} alt="github logo" />
            </a>
            <a href="https: www.linkedin.com in jonas-boone-09bb41121"></a><img
                class="px-2"
                src={linkedin}
                alt="github logo"
            />
            <!-- TODO: add email functionality -->
            <a><img class="px-2" src={mail} alt="github logo" /></a>
        </div>
        <HeadingMarked>Recently published</HeadingMarked>
        <BlogCard>
            <div slot="blog-heading">How I built my website</div>
            <div slot="blog-info">06/08/2022 - 10 min.read</div>
            <div slot="blog-summary">
                A breakdown of the choises I made to build my website and the
                tech stack.
            </div>
        </BlogCard>
        <HeadingMarked>Featured projects</HeadingMarked>
        <ProjectCard>
            <div slot="project-heading">jonasboone.be</div>
            <div slot="project-summary">
                My personal website built with Astro & Sanity.io
            </div>
            <div slot="project-keywords">Astro</div>
            <div slot="project-keywords">React</div>
            <div slot="project-keywords">Tailwindcss</div>
            <div slot="project-keywords">Sanity</div>
        </ProjectCard>
    </div>
</BaseLayout>
