<div class="bg-blue-secondary font-secondary mb-6 p-4 rounded">
    <h1 class="text-green-primary font-semibold mb-2 text-lg">
        <slot name="blog-heading" />
    </h1>
    <div class="text-grey-primary text-sm">
        <slot name="blog-info" />
    </div>
    <div class="text-white-primary my-4 text-sm">
        <slot name="blog-summary" />
    </div>
    <div class="flex justify-end mt-8 text-sm">
        <button class="text-white-primary font-semibold">Read article</button>
    </div>
</div>
