<footer class="border-t border-white-primary text-white-primary mt-auto flex justify-around p-4">
    <div>
        <h3 class="mb-3 text-sm">Sitemap</h3>
        <ul class="flex flex-col text-grey-primary text-xs">
            <a class="py-1" href="/">Home</a>
            <a class="py-1" href="/blog">Blog</a>
            <a class="py-1" href="/projects">Projects</a>
        </ul>
    </div>
    <div>
        <h3 class="mb-3 text-sm">Socials</h3>
        <ul class="flex flex-col text-grey-primary text-xs">
            <a class="py-1" href="">Github</a>
            <a class="py-1" href="">LinkedIn</a>
        </ul>
    </div>
    <div>
        <h3 class="mb-3 text-sm">Contact</h3>
        <ul class="flex flex-col text-grey-primary text-xs">
            <li class="py-1">Contact</li>
            <li class="py-1">Email me</li>
        </ul>
    </div>
</footer>
