<div
    class="text-white-primary font-bold font-secondary text-xl inline-block w-fit"
>
    <h1>
        <slot />
        <span
            class="bg-green-secondary inline-block h-2 relative -top-6 -z-20 w-full"
        ></span>
    </h1>
</div>
