<header class="flex items-center justify-between m-6">
    <h1 class="font-secondary font-semibold text-white-primary ">Jonas.</h1>
    <nav class="flex content-center text-grey-primary text-sm">
        <a class="mx-1" href="/">Home</a>
        <a class="mx-1" href="/blog">Blog</a>
        <a class="mx-1" href="/projects">Projects</a>
    </nav>    
</header>