---
import Layout from "../layouts/Layout.astro";
---

<Layout title="navigation menu">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/projects">Projects</a>
        </li>
    </ul>
</Layout>
